<a href="https://colab.research.google.com/github/MachineLearnia/Python-tutoriel/blob/master/04%20-%20Structures%20de%20donn%C3%A9es%20(Listes%20et%20Tuples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4/30: Data Structures (Lists and Tuples)

A data structure is a variable capable of holding multiple values at once. A data structure can form a **sequence** if the values it contains are arranged in a certain order. This is the case for **lists** and **tuples**. In contrast, a **dictionary** does not form a sequence.

## 1. Creating Lists and Tuples
A list or a tuple can contain all types of values (int, float, bool, string). These are called heterogeneous structures.

The difference between the two is that a list is **mutable** while a tuple is not (it cannot be changed after it is created).

In [2]:
# Lists
list_1 = [1, 4, 2, 7, 35, 84]
cities = ['Paris', 'Berlin', 'London', 'Brussels']
nested_list = [list_1, cities] # a list can even contain other lists! This is called a nested list

# Tuples
tuple_1 = (1, 2, 6, 2)

In [3]:
print(cities)

['Paris', 'Berlin', 'London', 'Brussels']

## 2. Indexing and Slicing
In a sequence, each element is arranged according to an **index** (the first index being index 0)

To access an element of a list or tuple, we use a technique called **Indexing**

To access several elements of a list or tuple, we use a technique called **Slicing**

In [4]:
# INDEXING

print('full sequence:', cities)
print('index 0:', cities[0])
print('index 1:', cities[1])
print('last index (-1):', cities[-1])

full sequence: ['Paris', 'Berlin', 'London', 'Brussels']
index 0: Paris
index 1: Berlin
last index (-1): Brussels

In [5]:
# SLICING [start (inclusive) : end (exclusive) : step]

print('full sequence:', cities)
print('index 0-2:', cities[0:3])
print('index 1-2:', cities[1:3])
print('reverse order:', cities[::-1])

full sequence: ['Paris', 'Berlin', 'London', 'Brussels']
index 0-2: ['Paris', 'Berlin', 'London']
index 1-2: ['Berlin', 'London']
reverse order: ['Brussels', 'London', 'Berlin', 'Paris']

## 3. Useful Actions on Lists

In [6]:
cities = ['Paris', 'Berlin', 'London', 'Brussels'] # initial list
print(cities)

cities.append('Dublin') # Adds an element to the end of the list
print(cities)

cities.insert(2, 'Madrid') # Adds an element at the specified index
print(cities)

cities.extend(['Amsterdam', 'Rome']) # Adds a list to the end of our list
print(cities)

print('length of the list:', len(cities)) # displays the length of the list

cities.sort(reverse=False) # sorts the list in alphabetical/numerical order
print(cities)

print(cities.count('Paris')) # counts how many times an element appears in the list

['Paris', 'Berlin', 'London', 'Brussels']
['Paris', 'Berlin', 'London', 'Brussels', 'Dublin']
['Paris', 'Berlin', 'Madrid', 'London', 'Brussels', 'Dublin']
['Paris', 'Berlin', 'Madrid', 'London', 'Brussels', 'Dublin', 'Amsterdam', 'Rome']
length of the list: 8
['Amsterdam', 'Berlin', 'Brussels', 'Dublin', 'London', 'Madrid', 'Paris', 'Rome']
1

In [7]:
if 'Paris' in cities:
  print('yes')
else:
  print('no')

yes

In [8]:
for element in cities:
  print(element)

Amsterdam
Berlin
Brussels
Dublin
London
Madrid
Paris
Rome

The enumerate function is very useful for retrieving both the elements of a list and their index. It is a widely used function in data science.

In [9]:
for index, element in enumerate(cities):
  print(index, element)

0 Amsterdam
1 Berlin
2 Brussels
3 Dublin
4 London
5 Madrid
6 Paris
7 Rome

The zip function is also very useful for iterating through 2 lists in parallel. If one list is shorter than the other, the for loop stops at the shortest list.

In [10]:
list_2 = [312, 52, 654, 23, 65, 12, 678]
for element_1, element_2 in zip(cities, list_2):
  print(element_1, element_2)

Amsterdam 312
Berlin 52
Brussels 654
Dublin 23
London 65
Madrid 12
Paris 678

## 4. Exercise and Solution
Transform the following code, which generates the **Fibonacci sequence**, to store the results in a list and return this list at the end of the function.

In [12]:
# exercise
def fibonacci(n):
    a = 0
    b = 1
    while b < n:
      a, b = b, a+b
      print(a)

In [13]:
# SOLUTION :

def fibonacci(n):
    a = 0
    b = 1
    fib = [a] # initialise la liste fib avec la premiere valeur de a 
    while b < n:
        a, b = b, a+b
        fib.append(a) # add the new value of a to the list
    return fib

print(fibonacci(1000))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]