<a href="https://colab.research.google.com/github/MachineLearnia/Python-tutoriel/blob/master/07%20-%20Built-in%20Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 7/30 Built-in Functions
Python contains a large number of very useful built-in functions to know. This allows you to build code more quickly, without having to develop your own functions for the most basic tasks. In this notebook, I show you the most important ones:

- Basic functions: abs(), round(), max(), min(), len(), sum(), any(), all()
- Variable type conversions: int(), str(), float(), type()
- Data structure conversions: list(), tuple()
- Binary conversions (less useful in machine learning): bin(), oct(), hex()
- **input()** function
- **format()** function (f-string)
- **open()** function

## 1. Basic Functions
Useful in any situation!

In [1]:
x = -3.14
print(abs(x)) # absolute value
print(round(x)) # arround to nearest integer
print(max(1, 5, 3, 9, 2)) # maximum value
print(min(1, 5, 3, 9, 2)) # minimum value
print(len("Hello")) # length of a string
print(len([1, 5, 3, 9, 2])) # length of a list
print(sum([1, 5, 3, 9, 2])) # sum of elements in a list
print(any([0, "", None, 5])) # True if at least one element is true
print(all([1, 5, 3, 9, 2])) # True if all elements are true

3.14
-3
9
1
5
5
20
True
True

In [2]:
liste = [-2, 3, 1, 0, -4]

print(min(liste)) # minimum
print(max(liste)) # maximum
print(len(liste)) # lenght of the list
print(sum(liste)) # sum of the elements in the list
print(any(liste)) # True if at least one element is true
print(all(liste)) # True if all elements are true

-4
3
5
-2
True
False

In [4]:
liste = [False, False, True]

print(any(liste)) #is there at least one True element ?
print(all(liste)) # all the elements are True ?

True
False

## 2. Conversion Functions
It can be very useful to convert a variable from one type to another (for example, to perform calculations). For this, we have the functions int(), str(), and float().

The **type()** function is very useful for inspecting the types of our variables.

In [5]:
age = '32'
type(age)

str

In [6]:
age = int(age)
type(age)

int

In [7]:
age + 10

42

You can also convert lists to tuples, or Numpy arrays (which we will see later) to lists...

In [9]:
tuple_1 = (1, 2, 3, 4)

liste_1 = list(tuple_1) # convert tuple to list

type(liste_1)

list

## 3. The **input()** function
This function is very useful for asking the user to enter a value into your program.

In [12]:
age = input('what is your age?')

In [14]:
type(age) # age is of type string. Remember to convert it if you want to perform calculations with it.

str

## 4. The **format()** function
This function allows you to insert the value of a variable into a string.

A faster way to use this function is to use **f-strings**

In [17]:
x = 25
city = 'Paris'

message = 'It is {} degrees in {}'.format(x, city)
print(message)

It is 25 degrees in Paris

In [18]:
message = f'It is {x} degrees in {city}'
print(message)

It is 25 degrees in Paris

## 5. The **open()** function
This is one of the most useful functions in Python. It allows you to open any file on your computer and use it in Python. Different modes exist:
- mode 'r': read a file from your computer
- mode 'w': write a file to your computer
- mode 'a': (append) add content to an existing file

In [19]:
f = open('text.txt', 'w') # open a file in write mode
f.write('hello')
f.close() # close the file

In [20]:
f = open('text.txt', 'r')
print(f.read())
f.close()

hello

In practice, we often write **with open() as f** so that we don't have to close the file manually after the work is done:

In [21]:
with open('text.txt', 'r') as f:
    print(f.read())

hello

## 6. Exercise and Solution
The code below creates a file containing the squares of numbers from 0 to 19.
The exercise is to implement code that reads this file and writes each line into a list.

Note_1: The **read().splitlines()** function will be very useful.

Note_2: For a better result, try using a list comprehension!

In [22]:
# This code writes the file
with open('file.txt', 'w') as f:
    for i in range(0, 20):
        f.write(f'{i}: {i**2} \n')

# Write here the code to read the file and save each line in a list.

In [23]:
# SOLUTION (not optimal)
with open('file.txt', 'r') as f:
    lines = f.read().splitlines()

lines

['0: 0 ',
 '1: 1 ',
 '2: 4 ',
 '3: 9 ',
 '4: 16 ',
 '5: 25 ',
 '6: 36 ',
 '7: 49 ',
 '8: 64 ',
 '9: 81 ',
 '10: 100 ',
 '11: 121 ',
 '12: 144 ',
 '13: 169 ',
 '14: 196 ',
 '15: 225 ',
 '16: 256 ',
 '17: 289 ',
 '18: 324 ',
 '19: 361 ']

In [25]:
# SOLUTION (Better)

liste = [row.strip() for row in open('file.txt','r')]
liste

['0: 0',
 '1: 1',
 '2: 4',
 '3: 9',
 '4: 16',
 '5: 25',
 '6: 36',
 '7: 49',
 '8: 64',
 '9: 81',
 '10: 100',
 '11: 121',
 '12: 144',
 '13: 169',
 '14: 196',
 '15: 225',
 '16: 256',
 '17: 289',
 '18: 324',
 '19: 361']